/* SIDENAV */

.sideNav {
  width: 20vw;
  float: left;
  text-align: center;
}

.backButton {
  line-height: 1;
  border: 2px solid #fff;
  border-radius: 6px;
  background: transparent;
  color: #fff;
  transition: background .5s ease, color .5s ease;
}

.backButton:hover {
  background: #fff;
  color: #7ad4ff;
}

button.button.backButton .icon {
  height: 1em;
  width: 1.8em;
}

.members {
  margin: 1rem;
  text-align: left;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 1rem;
  color: #fff;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.offline, .online {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.2rem;
  border: 1px solid #fff;
}

.offline {
  background: #bfbfbf;
}

.online {
  background: #73FF00;
}

/* SIDENAV END */

.chat {
  width: 60vw;
  height: 100vh;
  float: left;
  background: #f7f7f7;
}

.header {
  height: 13%;
  width: 100%;
  padding: 0.5rem 1rem;
}

.header h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 34px;
  text-shadow: 0 0 1px black;
  color: #7ad4ff;
}

.header h2 {
  font-size: .8rem;
  border-bottom: 1px solid #7ad4ff;
  padding-bottom: .2rem;
}

.messagesContainer {
  height: 77%;
  width: 100%;
  display:flex;
  flex-direction:column;
}

.messages {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 1rem;
}

.singleMessage {
  margin: 0.1rem 0;
  background: #fff;
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
}

.singleMessage h4 {
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 0.2rem;
}

.singleMessage .sentAt {
  font-size: 0.6rem;
  font-weight: 600;
}

.singleMessage p {
  font-size: 0.8rem;
  line-height: 1.4;
}

.userImg {
  width: 26px;
  float: left;
  padding-right: 6px;
}

.messageContent {
  width: calc(100% - 26px);
  float: right;
}

.singleMessage img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid gray;
}

.newMessage {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.newMessage form {
  width: 100%;
}

.newMessage input {
  border: 2px solid #7ad4ff;
}

/* RIGHT section */

.rightSection {
  width: 20vw;
  float: right;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1060px) {
  .rightSection {
    display: none;
  }
  .chat {
    width: 80vw;
  }
}
