<section class="sideNav fullBackground">
  <div class="logoContainer">
  	<h1 class="brand">Schlack</h1>
  	<div class="logoBack"></div>
  </div>
  <button class="button backButton" (click)="goBack()">
    <span class="icon">
      <i class="fas fa-arrow-left"></i>
    </span>
    &nbsp;&nbsp;Dashboard
  </button>
  <div *ngIf="group" class="members">
    <h2>{{group.name}} members:</h2>
    <ul>
      <li *ngFor="let user of group.users">
        <div class="userInfo">
          <div *ngIf="!user.isOnline" class="offline"></div>
          <div *ngIf="user.isOnline" class="online"></div>
          {{user.username}}
        </div>
      </li>
    </ul>
  </div>
</section>
<section *ngIf="group" class="chat">
  <div class="header">
    <h1 class="title">{{group.name}}</h1>
    <h2 class="subtitle">Created by <span class="has-text-weight-bold">{{group.owner.username}}</span> on {{group.createdAt}}</h2>
  </div>
  <div class="messagesContainer">
    <div class="messages">
      <div *ngIf="isTyping" class="singleMessage">
        <p>{{isTyping}} is typing...</p>
      </div>
      <div *ngFor="let message of group.messages" class="singleMessage">
        <div class="userImg" *ngIf="!message.isNotice">
          <img src="{{message.user.image}}">
        </div>
        <div class="messageContent">
          <h4 *ngIf="!message.isNotice" class="title">{{message.user.username}}&nbsp;
            <span class="sentAt">{{message.createdAt}}</span>
            <div class="messageActions" *ngIf="message.user._id == userId">
              <a class="delete is-small" (click)="deleteMessage(message._id)"></a>
              <span class="icon editIcon">
                <i class="fas fa-edit" (click)="openCloseEdit(message)"></i>
              </span>
            </div>
          </h4>
          <p *ngIf="messageEditing !== message._id">{{message.content}}</p>
          <div *ngIf="messageEditing === message._id">
            <textarea class="textarea" [(ngModel)]="editedMessage">{{message.content}}</textarea>
            <button class="button saveEdit" (click)="editMessage(message._id)">Save</button>
            <button class="button discardEdit" (click)="openCloseEdit(message)">Discard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="newMessage">
    <form (ngSubmit)="sendMessage()">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            name="newMessage"
            [(ngModel)]="newMessage"
            (keyup)="checkTyping()"
            placeholder="Message {{group.name}}"
          >
        </div>
      </div>
    </form>
  </div>
</section>
<section class="rightSection fullBackground">
</section>
