/* SIDENAV */

.sideNav {
  width: 30vw;
  float: left;
  text-align: center;
}

.backButton {
  line-height: 1;
  border: 2px solid #fff;
  border-radius: 6px;
  background: transparent;
  color: #fff;
  transition: background .5s ease, color .5s ease;
}

.backButton:hover {
  background: #fff;
  color: #7ad4ff;
}

button.button.backButton .icon {
  height: 1em;
  width: 1.8em;
}

.members {
  margin: 1rem;
  text-align: left;
}

/* SIDENAV END */

.chat {
  width: 70vw;
  height: 100vh;
  float: right;
}

.header {
  height: 13%;
  width: 100%;
}

.messagesContainer {
  height: 77%;
  width: 100%;
  display:flex;
  flex-direction:column;
}

.messages {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0.5rem;
}

.messages h4 {
  margin-bottom: 0;
}

.green {
  color: #4bf442;
}

.newMessage {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newMessage form {
  width: 96%;
}
